@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------------------------------------- # Base Section Start--------------------------------------------------------------*/
:root {
  --main-bg-color: #000000;
  --accent-bg-color: #f5f5f5;
}

html * {
  font-family: 'Monospace', sans-serif !important;
  background: black;
  color: white;
}

body {
  display: block;
  margin: 0px;
  height: 100vh;
}

.section {
  padding: 4% 10%;
}

/*-------------------------------------------------------------- # Air Section --------------------------------------------------------------*/

#air-top,
#air-bot {
  padding: 1% 0;
}

/*-------------------------------------------------------------- # Game Section --------------------------------------------------------------*/

#game {
  padding: 0;
  width: 100%;
}

#game .grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: min(0.6vw, 4px) solid white;
  text-align: center;
  aspect-ratio: 1/1;
}

#game .grid {
  padding: 5vh 10%;
  gap: min(3vw, 20px);
  place-items: center stretch;
  margin: auto;
}

#game #game-board {
}

#game #game-board .board-cell {
  font-size: min(6vw, 40px);
}

#game #keyboard {
  grid-template-columns: repeat(20, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  place-items: center stretch;
}

#game #keyboard .keyboard-cell {
  height: min(9vw, 60px);
  font-size: min(3vw, 20px);
}
